@font-face {
   font-family: "Open sans";
   src: url(../fonts/Open-sans/static/OpenSans-Regular.ttf)
}
@font-face {
   font-family: "Open sans";
   src: url(../fonts/Open-sans/static/OpenSans-SemiBold.ttf)
}

@font-face {
   font-family: "Cera Round Pro";
   src: url(../fonts/cero-round-pro/Fontspring-DEMO-ceraroundpro-medium.otf)
}
@font-face {
   font-family: "Cera Round Pro";
   src: url(../fonts/cero-round-pro/Fontspring-DEMO-ceraroundpro-bold.otf)
}

 @font-face {
   font-family: "Roboto";
   src: url(../../fonts/Roboto/Roboto-Regular.ttf)
}

@font-face {
   font-family: "Inter";
   src: url(../fonts/inter/Inter-Regular.ttf)
} 

* {
   margin: 0;
   padding: 0
}

*,*::after,*::before {
   box-sizing: border-box
}

a {
   text-decoration: none
}

li {
   list-style: none
}

button {
   cursor: pointer;
   outline: none
}

#loading {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #fff;
   z-index: 199999000;
   opacity: 1;
   transition: .5s;
   -webkit-transition: .5s;
   -moz-transition: .5s;
   -ms-transition: .5s;
   -o-transition: .5s
}

#loading.loading-none {
   opacity: 0;
   z-index: -100
}

@keyframes ldio-st50plrjn0l {
   0% {
       opacity: 1
   }

   100% {
       opacity: 0
   }
}

.ldio-st50plrjn0l div {
   left: 94px;
   top: 48px;
   position: absolute;
   animation: ldio-st50plrjn0l linear 1s infinite;
   background: #fe718d;
   width: 12px;
   height: 24px;
   border-radius: 6px/12px;
   transform-origin: 6px 52px
}

.ldio-st50plrjn0l div:nth-child(1) {
   transform: rotate(0deg);
   animation-delay: -.9166666667s;
   background: #fe718d
}

.ldio-st50plrjn0l div:nth-child(2) {
   transform: rotate(30deg);
   animation-delay: -.8333333333s;
   background: #fe718d
}

.ldio-st50plrjn0l div:nth-child(3) {
   transform: rotate(60deg);
   animation-delay: -0.75s;
   background: #fe718d
}

.ldio-st50plrjn0l div:nth-child(4) {
   transform: rotate(90deg);
   animation-delay: -.6666666667s;
   background: #fe718d
}

.ldio-st50plrjn0l div:nth-child(5) {
   transform: rotate(120deg);
   animation-delay: -.5833333333s;
   background: #fe718d
}

.ldio-st50plrjn0l div:nth-child(6) {
   transform: rotate(150deg);
   animation-delay: -0.5s;
   background: #fe718d
}

.ldio-st50plrjn0l div:nth-child(7) {
   transform: rotate(180deg);
   animation-delay: -.4166666667s;
   background: #fe718d
}

.ldio-st50plrjn0l div:nth-child(8) {
   transform: rotate(210deg);
   animation-delay: -.3333333333s;
   background: #fe718d
}

.ldio-st50plrjn0l div:nth-child(9) {
   transform: rotate(240deg);
   animation-delay: -0.25s;
   background: #fe718d
}

.ldio-st50plrjn0l div:nth-child(10) {
   transform: rotate(270deg);
   animation-delay: -.1666666667s;
   background: #fe718d
}

.ldio-st50plrjn0l div:nth-child(11) {
   transform: rotate(300deg);
   animation-delay: -.0833333333s;
   background: #fe718d
}

.ldio-st50plrjn0l div:nth-child(12) {
   transform: rotate(330deg);
   animation-delay: 0s;
   background: #fe718d
}

.loadingio-spinner-spinner-meuk2dw5igb {
   width: 200px;
   height: 200px;
   display: inline-block;
   overflow: hidden;
   background: #fff
}

.ldio-st50plrjn0l {
   width: 100%;
   height: 100%;
   position: relative;
   transform: translateZ(0) scale(1);
   backface-visibility: hidden;
   transform-origin: 0 0
}

.ldio-st50plrjn0l div {
   box-sizing: content-box
}

#backtop {
   height: 50px;
   width: 50px;
   position: fixed;
   bottom: -50px;
   right: 30px;
   font-size: 25px;
   border-radius: 50%;
   color: #fff;
   z-index: 99;
   background-color: var(--backtop-bg-color);
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
   transition: .5s;
   -webkit-transition: .5s;
   -moz-transition: .5s;
   -ms-transition: .5s;
   -o-transition: .5s
}

.container {
   max-width: 1340px;
   padding-left: 20px;
   padding-right: 20px;
   margin: 0 auto
}

.container-two {
   max-width: 1486px;
   padding-left: 20px;
   padding-right: 20px;
   margin: 0 auto
}

.container-tree {
   max-width: 1446px;
   padding-left: 20px;
   padding-right: 20px;
   margin: 0 auto
}

.container-about {
   max-width: 760px;
   padding-left: 20px;
   padding-right: 20px;
   margin: 0 auto
}

.container-contact {
   max-width: 1300px;
   padding-left: 20px;
   padding-right: 20px;
   margin: 0 auto
}

.navbar {
   background-color: #bb2339 !important
}

.navbar .nav-item a {
   font-family: "Open Sans";
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 22px;
   letter-spacing: .04em;
   color: #fff !important
}

@media (max-width:992px){
   .list__index{
      display: none;
   }
}


#email {
   position: relative
}

.email__container {
   position: relative;
   top: 210px;
   left: 0;
   right: 0;
   background: #bb2339;
   border: 1px solid rgba(255,255,255,.4);
   box-shadow: 22px 30px 95px 1px rgba(86,86,86,.2);
   border-radius: 20px
}

.email__container .email__container__head {
   padding-top: 64px
}

.email__container .email__container__head h4 {
   font-family: "Cera Round Pro";
   font-style: normal;
   font-weight: 700;
   font-size: 23px;
   line-height: 130%;
   letter-spacing: .04em;
   text-transform: capitalize;
   font-feature-settings: "tnum" on,"lnum" on
}

.email__container .email__container__head h2 {
   padding-top: 23px;
   padding-bottom: 23px;
   font-family: "Cera Round Pro";
   font-style: normal;
   font-weight: 500;
   font-size: 48px;
   line-height: 130%;
   text-align: center;
   letter-spacing: .03em;
   text-transform: capitalize;
   font-feature-settings: "tnum" on,"lnum" on
}

.email__container .email__container__head p {
   font-family: "Open Sans";
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 175%;
   text-align: center;
   letter-spacing: .04em;
   padding-bottom: 64px
}

@media(max-width: 350px) {
   .email__container .email__container__head h2 {
       font-size:24px
   }
}

.email__container .email__container__foot {
   padding-bottom: 64px
}

.email__container .email__container__foot input {
   width: 635px;
   height: 52px
}

@media(max-width: 800px) {
   .email__container .email__container__foot input {
       margin-bottom:25px
   }
}

@media(max-width: 700px) {
   .email__container .email__container__foot input {
       margin-bottom:0;
       width: 100%
   }
}

@media(max-width: 800px) {
   .email__container .email__container__foot input {
       margin-bottom:25px
   }
}

.email__container .email__container__foot input::-moz-placeholder {
   font-family: "Cera Round Pro";
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 175%;
   letter-spacing: .04em;
   text-transform: capitalize;
   font-feature-settings: "tnum" on,"lnum" on;
   color: #aaa
}

.email__container .email__container__foot input::placeholder {
   font-family: "Cera Round Pro";
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 175%;
   letter-spacing: .04em;
   text-transform: capitalize;
   font-feature-settings: "tnum" on,"lnum" on;
   color: #aaa
}

.email__container .email__container__foot button {
   padding: 12px 32px !important
}

#footer {
   background-color: #bb2339
}

#footer .footer__container {
   padding-top: 340px
}

#footer .footer__container h3 {
   padding-bottom: 24px
}

#footer .footer__container h5 {
   padding-top: 82px
}

#footer .footer__container .footer__container__logo img {
   max-width: 336px
}

#footer .footer__container .footer__container__logo p {
   padding-top: 32px;
   padding-bottom: 47px
}

#footer .footer__container .footer__container__logo a {
   margin-left: 19px
}

@media(max-width: 1000px) {
   #footer .footer__container {
       gap:45px
   }
}

@media(max-width: 400px) {
   #footer .footer__container .footer__container__logo>img:first-child {
       width:250px
   }
}
.offcanvas{
   background-color: #bb2339;
}
.about__container .about__container__title {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-top: 120px
}

.about__container .about__container__title>img {
   transform: rotate(180deg);
   margin-bottom: 40px
}

.about__container .about__container__title h2 {
   font-family: "Cera Round Pro";
   font-style: normal;
   font-weight: 500;
   font-size: 64px;
   letter-spacing: .03em;
   text-transform: capitalize;
   font-feature-settings: "tnum" on,"lnum" on;
   color: #242424
}

.about__container .about__conatiner__footer>img {
   width: 100%;
   margin-top: 20px;
   margin-bottom: 20px
}

.about__container .about__conatiner__footer p {
   font-family: "Open Sans";
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 32px;
   letter-spacing: .04em;
   color: #242424
}