@font-face {
   font-family: "Open sans";
   src: url(../fonts/Open-sans/static/OpenSans-Regular.ttf)
}
@font-face {
   font-family: "Open sans";
   src: url(../fonts/Open-sans/static/OpenSans-SemiBold.ttf)
}

@font-face {
   font-family: "Cera Round Pro";
   src: url(../fonts/cero-round-pro/Fontspring-DEMO-ceraroundpro-medium.otf)
}
@font-face {
   font-family: "Cera Round Pro";
   src: url(../fonts/cero-round-pro/Fontspring-DEMO-ceraroundpro-bold.otf)
}

 @font-face {
   font-family: "Roboto";
   src: url(../../fonts/Roboto/Roboto-Regular.ttf)
}

@font-face {
   font-family: "Inter";
   src: url(../fonts/inter/Inter-Regular.ttf)
} 

* {
   margin: 0;
   padding: 0
}

*,*::after,*::before {
   box-sizing: border-box
}

a {
   text-decoration: none
}

li {
   list-style: none
}

button {
   cursor: pointer;
   outline: none
}

#loading {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #fff;
   z-index: 199999000;
   opacity: 1;
   transition: .5s;
   -webkit-transition: .5s;
   -moz-transition: .5s;
   -ms-transition: .5s;
   -o-transition: .5s
}

#loading.loading-none {
   opacity: 0;
   z-index: -100
}

@keyframes ldio-st50plrjn0l {
   0% {
       opacity: 1
   }

   100% {
       opacity: 0
   }
}

.ldio-st50plrjn0l div {
   left: 94px;
   top: 48px;
   position: absolute;
   animation: ldio-st50plrjn0l linear 1s infinite;
   background: #fe718d;
   width: 12px;
   height: 24px;
   border-radius: 6px/12px;
   transform-origin: 6px 52px
}

.ldio-st50plrjn0l div:nth-child(1) {
   transform: rotate(0deg);
   animation-delay: -.9166666667s;
   background: #fe718d
}

.ldio-st50plrjn0l div:nth-child(2) {
   transform: rotate(30deg);
   animation-delay: -.8333333333s;
   background: #fe718d
}

.ldio-st50plrjn0l div:nth-child(3) {
   transform: rotate(60deg);
   animation-delay: -0.75s;
   background: #fe718d
}

.ldio-st50plrjn0l div:nth-child(4) {
   transform: rotate(90deg);
   animation-delay: -.6666666667s;
   background: #fe718d
}

.ldio-st50plrjn0l div:nth-child(5) {
   transform: rotate(120deg);
   animation-delay: -.5833333333s;
   background: #fe718d
}

.ldio-st50plrjn0l div:nth-child(6) {
   transform: rotate(150deg);
   animation-delay: -0.5s;
   background: #fe718d
}

.ldio-st50plrjn0l div:nth-child(7) {
   transform: rotate(180deg);
   animation-delay: -.4166666667s;
   background: #fe718d
}

.ldio-st50plrjn0l div:nth-child(8) {
   transform: rotate(210deg);
   animation-delay: -.3333333333s;
   background: #fe718d
}

.ldio-st50plrjn0l div:nth-child(9) {
   transform: rotate(240deg);
   animation-delay: -0.25s;
   background: #fe718d
}

.ldio-st50plrjn0l div:nth-child(10) {
   transform: rotate(270deg);
   animation-delay: -.1666666667s;
   background: #fe718d
}

.ldio-st50plrjn0l div:nth-child(11) {
   transform: rotate(300deg);
   animation-delay: -.0833333333s;
   background: #fe718d
}

.ldio-st50plrjn0l div:nth-child(12) {
   transform: rotate(330deg);
   animation-delay: 0s;
   background: #fe718d
}

.loadingio-spinner-spinner-meuk2dw5igb {
   width: 200px;
   height: 200px;
   display: inline-block;
   overflow: hidden;
   background: #fff
}

.ldio-st50plrjn0l {
   width: 100%;
   height: 100%;
   position: relative;
   transform: translateZ(0) scale(1);
   backface-visibility: hidden;
   transform-origin: 0 0
}

.ldio-st50plrjn0l div {
   box-sizing: content-box
}

#backtop {

   height: 50px;
   width: 50px;
   position: fixed;
   bottom: -50px;
   right: 30px;
   font-size: 25px;
   border-radius: 50%;
   color: #fff;
   z-index: 99;
   background-color: var(--backtop-bg-color);
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
   transition: .5s;
   -webkit-transition: .5s;
   -moz-transition: .5s;
   -ms-transition: .5s;
   -o-transition: .5s
}

.container {
   max-width: 1340px;
   padding-left: 20px;
   padding-right: 20px;
   margin: 0 auto
}

.container-two {
   max-width: 1486px;
   padding-left: 20px;
   padding-right: 20px;
   margin: 0 auto
}

.container-tree {
   max-width: 1446px;
   padding-left: 20px;
   padding-right: 20px;
   margin: 0 auto
}

.container-about {
   max-width: 760px;
   padding-left: 20px;
   padding-right: 20px;
   margin: 0 auto
}

.container-contact {
   max-width: 1300px;
   padding-left: 20px;
   padding-right: 20px;
   margin: 0 auto
}

.navbar {
   background-color: #bb2339 !important
}

.navbar .nav-item a {
   font-family: "Open Sans";
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 22px;
   letter-spacing: .04em;
   color: #fff !important
}
@media (max-width:992px){
   .list__index{
      display: none;
   }
}
#email {
   position: relative
}

.email__container {
   position: relative;
   top: 210px;
   left: 0;
   right: 0;
   background: #bb2339;
   border: 1px solid rgba(255,255,255,.4);
   box-shadow: 22px 30px 95px 1px rgba(86,86,86,.2);
   border-radius: 20px
}

.email__container .email__container__head {
   padding-top: 64px
}

.email__container .email__container__head h4 {
   font-family: "Cera Round Pro";
   font-style: normal;
   font-weight: 700;
   font-size: 23px;
   line-height: 130%;
   letter-spacing: .04em;
   text-transform: capitalize;
   font-feature-settings: "tnum" on,"lnum" on
}

.email__container .email__container__head h2 {
   padding-top: 23px;
   padding-bottom: 23px;
   font-family: "Cera Round Pro";
   font-style: normal;
   font-weight: 500;
   font-size: 48px;
   line-height: 130%;
   text-align: center;
   letter-spacing: .03em;
   text-transform: capitalize;
   font-feature-settings: "tnum" on,"lnum" on
}

.email__container .email__container__head p {
   font-family: "Open Sans";
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 175%;
   text-align: center;
   letter-spacing: .04em;
   padding-bottom: 64px
}

@media(max-width: 350px) {
   .email__container .email__container__head h2 {
       font-size:24px
   }
}

.email__container .email__container__foot {
   padding-bottom: 64px
}

.email__container .email__container__foot input {
   width: 635px;
   height: 52px
}

@media(max-width: 800px) {
   .email__container .email__container__foot input {
       margin-bottom:25px
   }
}

@media(max-width: 700px) {
   .email__container .email__container__foot input {
       margin-bottom:0;
       width: 100%
   }
}

@media(max-width: 800px) {
   .email__container .email__container__foot input {
       margin-bottom:25px
   }
}

.email__container .email__container__foot input::-moz-placeholder {
   font-family: "Cera Round Pro";
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 175%;
   letter-spacing: .04em;
   text-transform: capitalize;
   font-feature-settings: "tnum" on,"lnum" on;
   color: #aaa
}

.email__container .email__container__foot input::placeholder {
   font-family: "Cera Round Pro";
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 175%;
   letter-spacing: .04em;
   text-transform: capitalize;
   font-feature-settings: "tnum" on,"lnum" on;
   color: #aaa
}

.email__container .email__container__foot button {
   padding: 12px 32px !important
}

#footer {
   background-color: #bb2339
}

#footer .footer__container {
   padding-top: 340px
}

#footer .footer__container h3 {
   padding-bottom: 24px
}

#footer .footer__container h5 {
   padding-top: 82px
}

#footer .footer__container .footer__container__logo img {
   max-width: 336px
}

#footer .footer__container .footer__container__logo p {
   padding-top: 32px;
   padding-bottom: 47px
}

#footer .footer__container .footer__container__logo a {
   margin-left: 19px
}

@media(max-width: 1000px) {
   #footer .footer__container {
       gap:45px
   }
}

@media(max-width: 400px) {
   #footer .footer__container .footer__container__logo>img:first-child {
       width:250px
   }
}

#dishes {
   background-color: #f8f8f8
}

.dishes__container {
   padding-top: 120px;
   padding-bottom: 120px
}

.dishes__container h2 {
   font-family: "Cera Round Pro";
   font-style: normal;
   font-weight: 500;
   font-size: 48px;
   line-height: 48px;
   color: #bb2339;
   padding-bottom: 40px
}

#dishes .owl-carousel .owl-nav {
   position: absolute;
   top: -90px;
   right: 10px
}

#dishes .owl-carousel .owl-nav span {
   background-color: rgba(0,0,0,0);
   border: 1px solid #646464;
   border-radius: 6px;
   padding: 10px 15px
}

#dishes .owl-carousel .owl-nav span i {
   font-size: 20px
}

#dishes .owl-carousel .owl-nav span:hover {
   border: 1px solid #bb2339
}

#dishes .owl-carousel .owl-nav span:hover i {
   width: 15px
}

@media(max-width: 500px) {
   #dishes .owl-carousel .owl-nav {
       top:110%;
       right: 30%
   }
}

.component__dishes {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   max-width: 310px;
   padding: 20px 20px 25px 20px;
   background: #fff;
   border-radius: 14px
}

.component__dishes p {
   width: 270px;
   margin-top: 10px;
   font-family: "Open Sans";
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 25px;
   text-align: center;
   color: #242424;
   padding-bottom: 20px
}

.component__dishes .star {
   max-width: 108px;
   margin-bottom: 10px
}

.component__dishes a {
   margin-top: 10px;
   font-family: "Open Sans";
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 33px;
   text-align: center;
   color: #bb2339
}

@media(max-width: 600px) {
   .component__dishes {
       max-width:450px !important
   }
}

.component__dishes {
   background: #fff;
   border: 1px solid rgba(36,36,36,.1);
   border-radius: 14px
}

.gallery__container {
   margin-left: 310px;
   padding-top: 120px;
   padding-bottom: 120px;
   display: flex;
   justify-content: start;
   align-items: center;
   flex-direction: row;
   gap: 14px;
   overflow: hidden
}

.gallery__container .gallery__container__left {
   min-width: 491px
}

.gallery__container .gallery__container__left h4 {
   padding-top: 91px;
   font-family: "Cera Round Pro";
   font-style: normal;
   font-weight: 700;
   font-size: 23px;
   line-height: 130%;
   letter-spacing: .04em;
   text-transform: capitalize;
   font-feature-settings: "tnum" on,"lnum" on;
   color: #242424
}

.gallery__container .gallery__container__left h2 {
   font-family: "Cera Round Pro";
   font-style: normal;
   font-weight: 500;
   font-size: 48px;
   line-height: 130%;
   letter-spacing: .03em;
   text-transform: capitalize;
   font-feature-settings: "tnum" on,"lnum" on;
   color: #242424;
   padding-bottom: 24px
}

.gallery__container .gallery__container__left>p {
   font-family: "Open Sans";
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 175%;
   letter-spacing: .04em;
   color: #aaa;
   max-width: 491px;
   padding-bottom: 8px
}

.gallery__container .gallery__container__left button {
   padding: 10px 30px;
   background: rgba(0,0,0,0);
   border: 1px solid #fff;
   border-radius: 100px;
   transition: .5s;
   width: 149px;
   border: 1px solid #bb2339;
   border-radius: 100px;
   margin-bottom: 120px
}

.gallery__container .gallery__container__left button:hover {
   padding: 10px 30px;
   background-color: #bb2339;
   border: 1px solid #fff
}

.gallery__container .gallery__container__left button a {
   font-family: "Cera Round Pro";
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 175%;
   letter-spacing: .04em;
   color: #242424
}

.gallery__container .gallery__container__left button:hover a {
   color: #fff !important
}

.gallery__container .gallery__container__right {
   min-width: 1555px;
   padding-left: 64px
}

.gallery__container .gallery__container__right .owl-carousel .gallery__container__right--card {
   position: relative;
   width: 301px;
   overflow: hidden
}

.gallery__container .gallery__container__right .owl-carousel .gallery__container__right--card .card-content {
   width: 300px;
   position: absolute;
   bottom: -402px;
   height: 502px;
   text-align: center;
   transition: .9s
}

.gallery__container .gallery__container__right .owl-carousel .gallery__container__right--card .card-content img {
   width: 43px;
   margin-left: 130px;
   margin-top: 250px;
   transition: .5s
}

.gallery__container .gallery__container__right .owl-carousel .gallery__container__right--card:hover .card-content {
   bottom: 0;
   border-radius: 14px;
   background: linear-gradient(207.55deg, rgba(0, 0, 0, 0.75) 1.5%, rgba(0, 0, 0, 0.64) 98.62%);
   border: 2px solid rgba(36,36,36,.2)
}

@media(max-width: 1250px) {
   .gallery__container {
       margin-left:40px
   }
}

@media(max-width: 1000px) {
   .gallery__container .gallery__container__right {
       display:none
   }
}

@media(max-width: 600px) {
   .gallery__container .gallery__container__left h2 {
       width:300px
   }

   .gallery__container .gallery__container__left p {
       width: 350px
   }
}

@media(max-width: 400px) {
   .gallery__container .gallery__container__left p {
       width:250px
   }
}

#header {
   background-color: #bb2339
}

#customer {
   background-color: #f4f4f4
}

#gallery {
   background-color: #f4f4f4
}

.header__container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   overflow: hidden;
   gap: 8px
}

.header__container .header__container__left {
   padding-bottom: 308px
}

.header__container .header__container__left h4 {
   font-family: "Cera Round Pro";
   font-style: normal;
   font-weight: 700;
   font-size: 23px;
   line-height: 130%;
   letter-spacing: .04em;
   text-transform: capitalize;
   color: #fff
}

.header__container .header__container__left h1 {
   padding-top: 25px;
   padding-bottom: 20px;
   max-width: 555px;
   font-family: "Cera Round Pro";
   font-style: normal;
   font-weight: 700;
   font-size: 90px;
   line-height: 130%;
   letter-spacing: .04em;
   text-transform: capitalize;
   color: #fff
}

.header__container .header__container__left p {
   max-width: 453px;
   font-family: "Open Sans";
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 175%;
   letter-spacing: .04em;
   color: #fff;
   opacity: .7;
   padding-bottom: 38px
}

.header__container .header__container__left button {
   padding: 10px 30px;
   background: rgba(0,0,0,0);
   border: 1px solid #fff;
   border-radius: 100px;
   transition: .5s
}

.header__container .header__container__left button:hover {
   padding: 10px 30px;
   background-color: #bb2339;
   border: 1px solid #fff
}

.header__container .header__container__left button a {
   font-family: "Cera Round Pro";
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 175%;
   letter-spacing: .04em;
   color: #fff
}

.header__container .header__container__right {
   margin-right: -178px
}

@media(max-width: 1250px) {
   .header__container img {
       width:90%
   }
}

@media(max-width: 1150px) {
   .header__container {
       flex-wrap:wrap
   }

   .header__container .header__container__left {
       text-align: center;
       padding-bottom: 100px
   }
}

@media(max-width: 600px) {
   .header__container .header__container__left {
       display:flex;
       justify-content: center;
       align-items: center;
       flex-direction: column
   }

   .header__container .header__container__left h1 {
       font-size: 50px
   }

   .header__container .header__container__left p {
       max-width: 100%
   }
}

.ap-tab__container {
   padding-top: 120px;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 34px
}

.ap-tab__container h2 {
   font-weight: 500;
   font-size: 48px;
   line-height: 64px;
   text-transform: uppercase;
   font-family: "";
   font-family: "Cera Round Pro";
   font-style: normal;
   font-weight: 500;
   line-height: 48px;
   color: #bb2339
}

.ap-tab__container .ap-tab-content.active-tab {
   display: grid !important;
   grid-row-gap: 30px;
   grid-column-gap: 20px;
   grid-template-columns: repeat(4, 1fr)
}

@media(max-width: 1450px) {
   .ap-tab__container .ap-tab-content.active-tab {
       grid-template-columns:repeat(3, 1fr)
   }
}

@media(max-width: 1000px) {
   .ap-tab__container .ap-tab-content.active-tab {
       grid-template-columns:repeat(2, 1fr)
   }
}

@media(max-width: 1000px) {
   .ap-tab__container .ap-tab-content.active-tab {
       grid-template-columns:repeat(1, 1fr)
   }
}

.ap-tab__container .ap-tab-list {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   gap: 10px
}

@media(max-width: 1450px) {
   .ap-tab__container .ap-tab-list {
       text-align:center;
       display: grid !important;
       grid-row-gap: 30px;
       grid-column-gap: 20px;
       grid-template-columns: repeat(4, 1fr)
   }
}

@media(max-width: 1000px) {
   .ap-tab__container .ap-tab-list {
       grid-template-columns:repeat(3, 1fr)
   }
}

@media(max-width: 1000px) {
   .ap-tab__container .ap-tab-list {
       grid-template-columns:repeat(2, 1fr)
   }
}

@media(max-width: 1000px) {
   .ap-tab__container .ap-tab-list {
       grid-template-columns:repeat(1, 1fr)
   }
}

.ap-tab__container .ap-tab-list .ap-tab-item {
   padding: 10px 30px;
   background: rgba(0,0,0,0);
   border: 1px solid #fff;
   border-radius: 100px;
   transition: .5s;
   border: 3px solid #bb2339;
   border-radius: 100px
}

.ap-tab__container .ap-tab-list .ap-tab-item:hover {
   padding: 10px 30px;
   background-color: #bb2339;
   border: 1px solid #fff
}

.ap-tab__container .ap-tab-list .ap-tab-item a {
   font-family: "Open Sans";
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 175%;
   letter-spacing: .05em;
   text-transform: capitalize;
   color: #242424
}

.ap-tab__container .ap-tab-list .ap-tab-item:hover {
   padding: 10px 30px;
   background: rgba(0,0,0,0);
   border: 1px solid #fff;
   border-radius: 100px;
   transition: .5s;
   border: 3px solid #bb2339;
   border-radius: 100px
}

.ap-tab__container .ap-tab-list .ap-tab-item:hover:hover {
   padding: 10px 30px;
   background-color: #bb2339;
   border: 1px solid #fff
}

.ap-tab__container .ap-tab-list .ap-tab-item:hover a {
   font-family: "Open Sans";
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 175%;
   letter-spacing: .05em;
   text-transform: capitalize;
   color: #fff
}

.customer__container {
   padding-top: 100px;
   margin-top: 120px
}

.customer__container .customer__container__head {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column
}

.customer__container .customer__container__head h4 {
   font-family: "Cera Round Pro";
   font-style: normal;
   font-weight: 700;
   font-size: 23px;
   line-height: 130%;
   letter-spacing: .04em;
   color: #242424
}

.customer__container .customer__container__head h2 {
   font-family: "Cera Round Pro";
   font-style: normal;
   font-weight: 400;
   font-size: 48px;
   line-height: 130%;
   letter-spacing: .03em;
   text-transform: capitalize;
   font-feature-settings: "tnum" on,"lnum" on;
   color: #242424
}

.customer__container .customer__container__footer .owl-carousel .owl-nav {
   padding-bottom: 90px
}

.customer__container .customer__container__footer .owl-carousel .owl-nav span {
   background-color: rgba(0,0,0,0);
   border: 1px solid #646464;
   border-radius: 6px;
   padding: 10px 15px
}

.customer__container .customer__container__footer .owl-carousel .owl-nav span:hover {
   border: 1px solid #bb2339
}

.customer__container .customer__container__footer .owl-carousel .owl-nav span:hover i {
   width: 55px
}

.customer__container .customer__container__footer .customer__card {
   text-align: left;
   max-width: 410px;
   background: #fff;
   border: 1px solid rgba(51,51,51,.1);
   border-radius: 10px;
   padding: 30px 50px 30px 20px;
   margin-top: 60px;
   margin-bottom: 40px;
   margin-left: 35px
}

.customer__container .customer__container__footer .customer__card h5 {
   font-family: "Inter";
   font-style: normal;
   font-weight: 600;
   font-size: 24px;
   line-height: 26px;
   color: #333
}

.customer__container .customer__container__footer .customer__card p {
   font-family: "Inter";
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 22px;
   color: #333;
   opacity: .7
}

.customer__container .customer__container__footer .customer__card .customer__card--result {
   display: flex;
   justify-content: start;
   align-items: center;
   flex-direction: row;
   gap: 21px
}

.customer__container .customer__container__footer .customer__card .customer__card--result div {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   gap: 6px
}

@media(max-width: 350px) {
   .customer__container .customer__container__footer .customer__card .customer__card--result div {
       display:flex;
       justify-content: center;
       align-items: center;
       flex-direction: column
   }
}

.customer__container .customer__container__footer .customer__card .customer__card--result img {
   width: 16px
}

.customer__container .customer__container__footer .customer__card .customer__card--result p {
   font-family: "Roboto";
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 14px;
   color: #333;
   margin-bottom: 0
}

.updates__container .updates__container__head {
   padding-top: 120px;
   padding-bottom: 60px
}

.updates__container .updates__container__head h4 {
   font-family: "Cera Round Pro";
   font-style: normal;
   font-weight: 700;
   font-size: 23px;
   line-height: 130%;
   letter-spacing: .04em;
   color: #242424
}

.updates__container .updates__container__head h2 {
   font-family: "Cera Round Pro";
   font-style: normal;
   font-weight: 500;
   font-size: 48px;
   line-height: 130%;
   letter-spacing: .03em;
   text-transform: capitalize;
   color: #bb2339
}

.updates__container .updates__container__footer {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   justify-items: center
}

.updates__container .updates__container__footer .updates__container__footer--card {
   margin-bottom: 50px;
   max-width: 410px;
   background: #fff;
   border: 1px solid rgba(51,51,51,.1);
   border-radius: 14px
}

.updates__container .updates__container__footer .updates__container__footer--card h5 {
   padding-left: 20px;
   padding-top: 20px;
   max-width: 322px;
   font-family: "Cera Round Pro";
   font-style: normal;
   font-weight: 500;
   font-size: 24px;
   line-height: 32px;
   text-transform: capitalize;
   font-feature-settings: "tnum" on,"lnum" on;
   color: #242424
}

.updates__container .updates__container__footer .updates__container__footer--card p {
   padding-left: 20px;
   max-width: 361px;
   font-family: "Open Sans";
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 24px
}

.updates__container .updates__container__footer .updates__container__footer--card div {
   padding-left: 20px;
   padding-bottom: 30px;
   display: grid;
   grid-template-columns: 1fr 1fr
}

.updates__container .updates__container__footer .updates__container__footer--card div a {
   font-family: "Cera Round Pro";
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 16px;
   letter-spacing: .04em;
   color: #bb2339
}

.updates__container .updates__container__footer button {
   grid-column-start: 2;
   padding: 10px 30px;
   background: rgba(0,0,0,0);
   border: 1px solid #fff;
   border-radius: 100px;
   transition: .5s;
   width: 149px;
   border: 1px solid #bb2339;
   border-radius: 100px;
   margin-bottom: 120px
}

.updates__container .updates__container__footer button:hover {
   padding: 10px 30px;
   background-color: #bb2339;
   border: 1px solid #fff
}

.updates__container .updates__container__footer button a {
   font-family: "Cera Round Pro";
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 175%;
   letter-spacing: .04em;
   color: #242424
}

.updates__container .updates__container__footer button:hover a {
   color: #fff !important
}

@media(max-width: 1300px) {
   .updates__container .updates__container__footer {
       grid-template-columns:repeat(2, 1fr);
       justify-content: space-evenly;
       justify-items: center;
       align-items: center
   }
}

@media(max-width: 900px) {
   .updates__container .updates__container__footer {
       display:flex;
       justify-content: center;
       align-items: center;
       flex-direction: column
   }
}

@media(max-width: 500px) {
   .updates__container .updates__container__footer .updates__container__footer--card {
       width:80%
   }

   .updates__container .updates__container__footer .updates__container__footer--card img {
       width: 100%
   }
}

#modal-video {
   background-image: url(../../images/home-img.png);
   background-size: cover;
   background-repeat: no-repeat;
   width: 100%;
   height: 763px;
}

#modal-video .modal__conatiner {
   position: relative
}

#modal-video .modal__conatiner .modal-custom {
   width: 600px
}

#modal-video .modal__conatiner .modal-button-custom {
   position: absolute;
   top: 322px;
   left: 47.5%;
   padding: 47px 44px 44px 52px;
   border-radius: 500px;
   background-color: rgba(0,0,0,0);
   border: 1px solid #bb2339
}

#modal-video .modal__conatiner .modal-button-custom:hover {
   background-color: rgba(0,0,0,0)
}
