@font-face {
   font-family: "Open sans";
   src: url(../../fonts/Open-sans/static/OpenSans-Regular.ttf)
}
@font-face {
   font-family: "Open sans";
   src: url(../../fonts/Open-sans/static/OpenSans-SemiBold.ttf)
}

@font-face {
   font-family: "Cera Round Pro";
   src: url(../../fonts/cero-round-pro/Fontspring-DEMO-ceraroundpro-medium.otf)
}
@font-face {
   font-family: "Cera Round Pro";
   src: url(../../fonts/cero-round-pro/Fontspring-DEMO-ceraroundpro-bold.otf)
}

@font-face {
   font-family: "Inter";
   src: url(../../fonts/inter/Inter-Regular.ttf)
} 