$color_1: #bb2339;
$color_2: #242424;
$color_3: #aaa;
$color_4: #fff;
$color_5: #333;
$font-family_1: "Cera Round Pro";
$font-family_2: "Open Sans";
$font-family_3: "";
$font-family_4: "Inter";
$font-family_5: "Roboto";
$background-color_1: #f8f8f8;
$background-color_2: rgba(0,0,0,0);
$background-color_3: #bb2339;
$background-color_4: #f4f4f4;